.title {
  font-size: rem(34px);
  font-weight: 900;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(24px);
  }
}

.description {
  width: rem(100%);
  text-align: center;

  &::after {
    content: "";
    display: block;
    background-color: #5c0505;
    width: rem(118px);
    height: rem(3px);
    margin-top: var(--mantine-spacing-sm);
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
  }

  /* @media (max-width: $mantine-breakpoint-md) {
    font-size: 5rem;
    font-weight: 900;
  }

  @media (max-width: $mantine-breakpoint-sm) {
    width: 50%;
  } */
}

.cardShadow {
  border: rem(5px) solid #ffa903;
}

.cardTitle {
  &::after {
    content: "";
    display: block;
    background-color: #5c0505;
    width: rem(45px);
    height: rem(2px);
    margin-top: var(--mantine-spacing-sm);
  }
}
