.table__history {
  /* @media (max-width: $mantine-breakpoint-lg) {
    max-width: 58rem;
  }

  @media (max-width: $mantine-breakpoint-md) {
    max-width: 36rem;
  }

  @media (max-width: $mantine-breakpoint-sm) {
    max-width: 320px;
  } */
}
